:root {
  --color-primary: #87BCBF;
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F0F3F4;
  --color-text-primary: #334856;
  --color-text-secondary: #6E8CA0;
  --color-text-button: #FFFFFF;
  --color-action-delete: #D95454;
}